ul {
    list-style: lower-latin;
    background: white;

}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 65%;
    background: rgb(250, 244, 244);
    position: absolute;
    z-index: 999;
    display: none;


}

ul li a:hover {
    color: orange;
}

ul li:hover ul.dropdown {
    display: block;
}
.got{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 20px;
    align-items: center;
    padding: 10px;
    height: 40px;}
li a:hover{color: orange;
cursor: pointer;
}

